* {
    margin: 0;
}

#header {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    height: 3rem;
}

#headerLeft {
    all: unset;
    font-size: 2.5rem;
    font-weight: bolder;
    padding-left: 5rem;
    cursor: pointer;
}

#headerRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cartContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#homePageMain {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 6rem;
    gap: 3rem;
}

#mainText {
    font-size: 3rem;
}

#mainButton {
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50px;
    width: 15rem;
}

#store {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.productItem {
    display: grid;
    grid-template-rows: 4fr 3fr;
    border: solid black 2px;
    width: 20vw;
    height: 20vw;
    justify-items: center;
}

.productImage {
    height: 10vw;
}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    border-top: solid black 2px;

}

.productName {
    font-weight: bold;
    padding: 0.5rem;
}

.productPrice {
    padding-left: 0.5rem;
}

.addToCartBtn {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.checkOutItem {
    border: black 2px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.quantityBtn {
    font-weight: bold;
    background-color: darkgray;
    width: 1rem;
    text-align: center;
    cursor: pointer;
}

.quantityBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.removeItemBtn {
    display: flex;
    grid-column: 1 / 3;
    justify-content: center;
    background-color: red;
    width: 10rem;
    color: white;
    padding: 0.5rem;
    border-radius: 20px;
}